.container {
  text-align: center;
}

.container h1 {
  display: inline-block;
  margin: auto;
  padding: 20px 0;
}

.content-wrapper {
  text-align: left;
  margin: auto;
  display: flex;
  height: 800px;
  width: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid grey;
}
